* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    color: white;/*#5774a4;*/

    position: absolute; /*fala que é grudado*/
    top: 0; /*faz ele ficar grudado na parte de cima*/
    left: 0;
    width: 100%;
    z-index: 10; /*como se fosse a camada*/
}

header .logo {
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.links{
    background: transparent;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 15px;
    height: 38px;
}

nav a {
    color: white; /*#5774a4;*/
    text-decoration: none;
    font-weight: bolder;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 10px 0px;
}

nav a:hover {
    backdrop-filter: blur(25px);
    transition: all 0.5s ease;

    color: #784873 ;
    font-weight: bolder;
    padding: 10px 15px;
    border-radius: 15px;
} /* Fim da navbar */

main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.fundovideo{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

    .fundo, video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
}

/* Seção inicio */
.secao-principal {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.secao-principal h1 {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);/*#2563eb;*/
    margin: 0;
}

.social-icons {
    display: flex;
    gap: 25px;
}

.social-icons img {
    width: 40px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.4);
}
/* Fim das seção inicio*/

/* Seção Formações*/
#formacoes {
    background-color: #2564ebbd;
    height: 100vh;
    margin: 50px;
    border-radius: 15px;
    padding: 25px;
}

h2 {
    color: white;
    font-size: 35px;
}

#formacao-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

#formacao-container .curso {
  background-color: var(--fundo-principal);
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  padding-left: 15px;
  transition: border-width 0.5s, border-color 0.5s;
}

#formacao-container .curso:hover {
  border-left-width: 15px;
  border-color: var(--destaque);
  cursor: pointer;
}

#formacao-container .periodo {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--texto);
}

#formacao-container .instituicao {
  color: var(--destaque-inverso);
  font-size: 1.2em;
}
/* Fim das Formações*/

/**/



