* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #f4f7f9;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: whitesmoke;
    color: #5774a4;
    position: sticky; /*fala que é grudado*/
    top: 0; /*faz ele ficar grudado na parte de cima*/
    z-index: 1; /*como se fosse a camada*/
    box-shadow: 1px 1px rgba(0, 0, 0, 0.103);
}

header .logo {
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 0.5px;
}

nav a {
    font-size: 20px;
    margin: 0 15px;
    text-decoration: none;
    color: #5774a4;
    font-weight: bolder;
    transition: transform 0.5s;
}

nav a:hover {
    background-color: #2563eb;
    color: white;
    font-weight: bolder;
    padding: 10px;
    border-radius: 15px;
    transition: background-color 0.6s;
} 
/* Fim da navbar */

/* Troca de tema */
.trctema {
    background-color: #2563eb;
    color: white;
    border-radius: 100%;
    padding: 13px;
    transition: background-color 0.3s;
    border: none;
}

.trctema:hover {
    color: #446389;
    background-color: #162133;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.274);
}/* Fim da troca de tema */


/* Seção inicio */
.secao-principal {
    height: 87vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.secao-principal h1 {
    font-size: 8vh; /*3.5rem*/
    color: #2563eb;
    margin-bottom: 2rem;
}

.social-icons {
    display: flex;
    gap: 25px;
}

.social-icons img {
    width: 5vh; /*40px*/
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.4);
}
/* Fim das seção inicio*/

/* Seção Formações*/
#formacoes {
    background-color: transparent;
    height: 100vh;
    margin: 50px;
    border-radius: 15px;
    padding: 25px;
}

h2 {
    color: #2563eb;
    font-size: 35px;
    margin-bottom: 15px;
}

#formacao-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  color: white;
}

#formacao-container .curso {
  background-color: grey;
  border-radius: 8px;
  border-left: 5px solid black;
  padding-left: 15px;
  transition: border-width 0.5s, border-color 0.5s;
}

#formacao-container .curso:hover {
  border-left-width: 15px;
  border-color: red;
  cursor: pointer;
}

#formacao-container .periodo {
  font-size: 0.8em;
  font-weight: bold;
  color: white;
}

#formacao-container .instituicao {
  color: white;
  font-size: 1.2em;
}
/* Fim das Formações*/

/**/
@media screen and (max-width: 675px) {
    .secao-principal h1 {
        font-size: 4vh;
    }
}



